<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student details uppercase</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script> 
<script>
    var app = angular.module("studDetailsUpperApp",[]);
    app.controller("studDetailsupperAppCntrl",function($scope){
$scope.studDetails=['harish','kumar','chethan','prashanth']
$scope.upper=true
$scope.lower=false
$scope.Lower=function(){
    $scope.upper=false
    $scope.lower=true
}

$scope.Upper =function(){
    $scope.upper=true
$scope.lower=false
}
    });
</script>
<body ng-app="studDetailsUpperApp">
    <h1>Student details upper case</h1>
    <div ng-controller="studDetailsupperAppCntrl">
        <button ng-click="Upper()">upper</button>
        <button ng-click="Lower()">lower</button>
        <table border="1">
            <tr>
                <th>slno</th>
                <th>name</th>
            </tr>
            <tr ng-repeat="student in studDetails">
                <td>{{$index+1}}</td>
                <td ng-show="upper">{{student|uppercase}}</td>
                <td ng-show="lower">{{student|lowercase}}</td>
            </tr>
        </table>
    </div>
</body>
</html>